.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 30%;
}

input[type=Email],[type=Password],[type=Text] {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 5%;
    width: 50%;
}

#title {
    margin-top: 5%;
}

#btnRegister {
    width: 50%;
    margin-bottom: 5%;
    height: 12%;
}

#btnLogin {
    width: 50%;
}

#signature {
  /* Posicionar abajo */
  position: absolute;
  bottom: 0;
  /* Ocupar todo el ancho disponible */
  width: 100%;
  min-height: 18vh;
}